.browser {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    max-width:  1000px;
    height: 800px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    overflow: hidden;

    & + & {
        margin-top: 200px;
    }

    &:last-child {
        margin-bottom: 300px;
    }

    &--project {
        max-width: 660px;
        height: auto;

        &:last-child {
            margin-bottom: 0;
        }

    }

    @media (min-width: 1000px) {
        margin-top: 120px;

        &--project {
            margin-top: 0;
        }
    }

    @media (min-width: 1400px) {
        max-width: 1200px;

        &--project {
            margin-top: 0;
        }
    }
}

.browser-top {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 25px;
    background-color: #d1dcdc;
    border-radius: 15px 15px 0 0;

    .browser--project & {
        height: 48px;
    }
}

.browser-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    .browser--project & {
        width: 12px;
        height: 12px;
    }

    & + & {
        margin-left: 12px;
    }

    &--close {
        background: #ff474c;
    }

    &--minimize {
        background: #ffbc23;
    }

    &--zoom {
        background: #03d54e;
    }


}

.browser-content {
    height: 780px;

    &--signup,
    &--products {
        background: url('/img/signup_bg2.jpeg') no-repeat center center;
        background-size: cover;
    }

    &--products {
        overflow: hidden;
    }

    &--travelers {
        padding-top: 140px;
        background: url('/img/signup_bg2.jpeg') no-repeat center center;
        background-size: cover;
    }

    &--shipify {
        display: flex;
        align-items: center;
        height: auto;
    }
}