// @import '_typography.scss';

.browser {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);

    @media (min-width: $m) {
        max-width: 700px;
    }

    @media (min-width: $l) {
        max-width: 800px;
    }

    @media (min-width: $xl) {
        max-width: 1200px;
    }
}

.browser-top {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 20px;
    background-color: #d1dcdc;
    border-radius: 10px 10px 0 0;

    .browser--project & {
        height: 48px;
    }

    @media (min-width: $m) {
        height: 32px;
    }

    @media (min-width: $xl) {
        height: 60px;
    }
}

.browser-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    .browser--project & {
        width: 12px;
        height: 12px;
    }

    & + & {
        margin-left: 10px;
    }

    &--close {
        background: #ff474c;
    }

    &--minimize {
        background: #ffbc23;
    }

    &--zoom {
        background: #03d54e;
    }
}

.browser-content {
    &--signup,
    &--products {
        background: url('/img/signup_bg2.jpeg') no-repeat center center;
        background-size: cover;
    }

    &--products {
        overflow: hidden;
    }

    &--travelers {
        padding-top: 140px;
        background: url('/img/signup_bg2.jpeg') no-repeat center center;
        background-size: cover;
    }

    &--shipify {
        display: flex;
        align-items: center;
        height: auto;
    }
}

.browser-caption {
    position: absolute;
    width: 100%;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    font-family: $sans-serif;
    font-size: 16px;
    text-align: center;

    @media (min-width: $l) {
        bottom: -80px;
        font-size: 18px;
    }
}