$color-tealLight: #24dac6;
$color-teal: #1fcab7;
$color-orange: #FFB42A;
$color-black: #303535;
$color-grey: #edf4ec;
$color-greyLight: #f2f2f2;
$color-blueLight: #c6e2e9;

$blue: #24dac6;
$black: #37383d;
$blue-light: #c6e2e9;

$polar-video: #8ab3d3;
$color-green: #00FF00;
$color-blue: #0000FF;