$color-tealLight: #24dac6;
$color-teal: #1fcab7;
$color-orange: #FFB42A;
$color-black: #303535;
$color-grey: #edf4ec;
$color-greyLight: #f2f2f2;
$color-blueLight: #c6e2e9;

$blue: #24dac6;
$black: #37383d;
$blue-light: #c6e2e9;

$gg-greenDark: #003827;
$gg-green: #2ab571;
$gg-greenLight: #bef4e4;
$gg-cream: #f8f5eb;

$polar-blue: #8cb3d2;
$polar-blueDark: #3b6c94;
$polar-blueLight: #d7e3ec;
$polar-orange: #f7941d;

$spinnup-yellow: #f3d844;
$spinnup-pink: #e93877;
$spinnup-pinkLight: #fcf1f5;
$spinnup-grey: #f0f0f0;

.colors {
    display: none;


    @media (min-width: $m) {
        display: flex;
        margin-top: 4px;
        margin-left: 20px;
    }

    @media (min-width: $l) {
        margin-top: 8px;
    }

    &--mobile {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        @media (min-width: $m) {
            display: none;
        }
    }
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.1);

    & + & {
        margin-left: 20px;
    }

    @media (min-width: $s) {
        width: 36px;
        height: 36px;
    }

    @media (min-width: $m) {
        width: 26px;
        height: 26px;
    }

    @media (min-width: $l) {
        width: 36px;
        height: 36px;
    }

    &--teal {
        background: $color-tealLight;
    }

    &--orange {
        background: $color-orange;
    }

    &--black {
        background: $color-black;
    }

    &--grey {
        background: $color-grey;
    }

    &--greyLight {
        background: $color-greyLight;
    }

    &--blueLight {
        background: $color-blueLight;
    }

    &--spinnupPink {
        background: $spinnup-pink;
    }

    &--spinnupPinkLight {
        background: $spinnup-pinkLight;
    }

    &--spinnupYellow {
        background: $spinnup-yellow;
    }

    &--polarBlueDark {
        background: $polar-blueDark;
    }

    &--polarBlueLight {
        background: $polar-blueLight;
    }

    &--polarBlue {
        background: $polar-blue;
    }

    &--polarOrange {
        background: $polar-orange;
    }

    &--ggGreenDark {
        background: $gg-greenDark;
    }

    &--ggGreenLight {
        background: $gg-greenLight;
    }

    &--ggGreen {
        background: $gg-green;
    }

    &--ggCream {
        background: $gg-cream;
    }
}