$color-tealLight: #24dac6;
$color-teal: #1fcab7;
$color-orange: #FFB42A;
$color-black: #303535;
$color-grey: #edf4ec;
$color-greyLight: #f2f2f2;
$color-blueLight: #c6e2e9;

$blue: #24dac6;
$black: #37383d;
$blue-light: #c6e2e9;

$gg-green: #003928;

$polar-blue: #8cb3d2;
$polar-blueLight: #d7e3ec;

$spinnup-yellow: #f3d844;
$spinnup-pink: #e93877;

.colors {
    display: none;
    margin-top: 50px;

    @media (min-width: 1000px) {
        display: flex;
        margin-top: 16px;
        margin-left: 25px;
    }

    &--mobile {
        display: flex;
        justify-content: center;

        @media (min-width: 1000px) {
            display: none;
        }
    }
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.1);

    & + & {
        margin-left: 25px;
    }

    &--teal {
        background: $color-tealLight;
    }

    &--orange {
        background: $color-orange;
    }

    &--black {
        background: $color-black;
    }

    &--grey {
        background: $color-grey;
    }

    &--greyLight {
        background: $color-greyLight;
    }

    &--blueLight {
        background: $color-blueLight;
    }
}