.intro {
    font-family: $sans-serif;
    text-align: center;
    width: 85%;
    margin: 60px auto 120px;

    @media (min-width: $m) {
        width: 1120px;
        margin: 60px auto 380px;
        text-align: left;
    }

    @media (min-width: $l) {
        width: 1400px;
        height: 100vh;
        margin: 150px auto -150px;
    }

    @media (min-width: $xl) {
        width: 1520px;
    }
}

.intro-backBtn {
    display: inline-block;
}

.intro-headingContainer {
    margin-top: 30px;

    @media (min-width: $m) {
        display: flex;
        align-items: center;
        margin-top: 200px;
    }

    @media (min-width: $l) {
        margin-top: 280px;
    }

    @media (min-width: $xl) {
        margin-top: 360px;
    }
}

.intro-heading {
    margin: 0;
    font-size: 48px;
    color: $color-black;
    letter-spacing: -0.01em;
    font-weight: 800;
    text-align: center;

    &--gg {
        font-size: 40px
    }

    @media (min-width: $m) {
        text-align: left;
    }

    @media (min-width: $l) {
        font-size: 52px;
    }

    @media (min-width: $xl) {
        font-size: 82px;

        &--spinnup {
            font-size: 80px;
        }

        &--vui {
            font-size: 58px;
        }
    }
}

.intro-infoContainer {
    @media (min-width: $m) {
        display: flex;
        justify-content: space-between;
    }
}

.intro-subtitle {
    margin: 15px auto 0;
    color: #c0c4c6;
    font-size: 21px;

    &--polar {
        color: white;
    }

    @media (min-width: $m) {
        flex: 1;
        margin: 0;
        padding: 0;
        max-width: none;
        font-size: 24px;

        &--polar {
            max-width: 560px;
        }

        &--gg {
            font-size: 26px;
        }
    }

    @media (min-width: $l) {
        font-size: 28px;
    }

    @media (min-width: $xl) {
        font-size: 35px;
    }
}

.intro-infoList {
    margin-top: 50px;
    padding: 0;
    list-style-type: none;


    > * + * {
        margin-top: 30px;
    }

    @media (min-width: $m) {
        display: flex;
        justify-content: center;
        margin-top: -20px;
        padding-left: 0;
        padding-bottom: 2px;


        > * + * {
            margin-left: 60px;
            margin-top: 0;
        }
    }

    @media (min-width: $xl) {
        > * + * {
            margin-left: 80px;
        }
    }
}

.intro-infoItem {
    display: flex;
    flex-direction: column;
}

.intro-infoHeading {
    font-size: 16px;
    font-weight: 400;
    color: #6d7071;

    &--polar {
        color: white;
    }

    .polar & {
        color: #3b6c94;
    }

    @media (min-width: $m) {
        font-size: 15px;
    }
}

.intro-infoData {
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: .015em;
    color: $color-black;

    @media (min-width: $m) {
        font-size: 18px;
    }
}
