.polar-videoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 60px 0;
    background-color: $polar-blue;

    @media (min-width: $s) {
        padding: 0;
    }
}

.polar-video {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;

    @media (min-width: $m) {
        padding: 60px 0;
    }

    @media (min-width: $l) {
        max-width: 1200px;
        padding: 160px 0;
    }
}

.polar-collage {
    text-align: center;
}

.polar-collageImage {
    max-width: 1000px;

    @media (min-width: $l) {
        max-width: 1400px;
    }
}

.polar-stack {
    text-align: center;
}

.polar-stackLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    > * + * {
        margin-left: 40px;
    }

    @media (min-width: $s) {
        > * + * {
            margin-left: 100px;
        }
    }

    @media (min-width: $l) {
        margin-top: 80px;
    }
}

.polar-stackLogo {
    width: 160px;

    &--js {
        width: 50px;
    }

    @media (min-width: $m) {
        width: 300px;

        &--js {
            width: 90px;
        }
    }
}