.spinnup-laptop {
    background-color: $spinnup-pinkLight;
    text-align: center;
}

.spinnup-laptopImage {
    max-width: 900px;
    padding: 60px 0;

    @media (min-width: $s) {
        padding: 0;
    }

    @media (min-width: $m) {
        max-width: 1000px;
    }

    @media (min-width: $l) {
        max-width: 1160px;
        padding: 160px 0;
    }
}

.spinnup-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: $m) {
        flex-direction: row;
    }
}

.spinnup-chart {
    background-color: $spinnup-grey;
    text-align: center;

    @media (min-width: $m) {
        padding: 100px 0;
    }
}

.spinnup-chartImage {
    max-width: 1000px;
    padding: 60px 0;

    @media (min-width: $s) {
        padding: 0;
    }

    @media (min-width: $l) {
        max-width: 1260px;
        padding: 160px 0;
    }
}

.spinnup-collage {
    text-align: center;
}

.spinnup-collageImage {
    max-width: 1000px;

    @media (min-width: $l) {
        max-width: 1200px;
    }
}

.spinnup-stack {
    text-align: center;
}

.spinnup-stackLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;

    > * + * {
        margin-left: 30px;
    }

    @media (min-width: $m) {
        margin: 60px auto 0 -80px;

        > * + * {
            margin-left: 100px;
        }
    }

    @media (min-width: $l) {
        > * + * {
            margin-left: 120px;
        }
    }
}

.spinnup-stackLogo {
    width: 80px;

    &--redux {
        width: 74px;
    }

    &--node {
        width: 50px;
    }

    @media (min-width: $m) {
        width: 240px;

        &--redux {
            width: 220px;
        }

        &--node {
            width: 140px;
            margin-left: 140px;
        }
    }
}