.spinnup-laptop {
    padding: 120px 0;
    background-color: $spinnup-pinkLight;
    text-align: center;
}

.spinnup-laptopImage {
    max-width: 900px;

    @media (min-width: $m) {
        max-width: 1000px;
    }

    @media (min-width: $xl) {
        max-width: 1160px;
    }
}

.spinnup-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;

    @media (min-width: $m) {
        padding: 160px 0;
    }
}

.spinnup-stack {
    padding: 140px 0 100px;
    text-align: center;
}

.spinnup-stackLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    > * + * {
        margin-left: 100px;
    }
}

.spinnup-stackLogo {
    width: 340px;

    &--redux {
        width: 300px;
        // margin-left: 100px;
    }

    &--node {
        width: 240px;
        // margin-left: 120px;
    }
}

.spinnup-chart {
    padding: 120px 0;
    background-color: $spinnup-grey;
    text-align: center;
}

.spinnup-chartImage {
    max-width: 1000px;

    @media (min-width: $xxl) {
        max-width: 1260px;
    }
}

.spinnup-collage {
    padding: 200px 0 60px;
    text-align: center;
}

.spinnup-collageImage {
    max-width: 1000px;

    @media (min-width: $xxl) {
        max-width: 1200px;
    }
}