@import '_colors.scss';
@import '_polar.scss';
@import '_shipify.scss';
@import 'node_modules/normalize-scss/sass/normalize/import-now';

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url('/fonts/ProximaNova-Black.otf') format('opentype'),
        url('/fonts/ProximaNova-Bold.otf') format('opentype'),
        url('/fonts/ProximaNova-Regular.otf') format('opentype'),
        url('/fonts/ProximaNova-Light.otf') format('opentype');
}

body {
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;

    opacity: 1;
    transition: 2s opacity;
}

body.fade {
    opacity: 0;
    transition: 2s opacity;
}

a {
    color: $black;
    text-decoration: none;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 3vw 5vw;
    z-index: 5;

    &--polar {
        background: $polar-video;

        .menu-link {
            color: white;
        }
    }
}

.logo {
    flex: 1;
    font-size: 16px;

    &--polar {
        color: white;
    }
}

.logo-link {
    text-transform: uppercase;
    letter-spacing: .125em;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    font-size: 12px;
    padding: 2px;

    & + & {
        margin-left: 30px;
    }

    &:hover {
        box-shadow: inset 0 -1px 0 0 black;
    }

    .polar & {
        &:hover {
            box-shadow: inset 0 -1px 0 0 white;
        }
    }
}

.menu-link,
.logo-link {
    text-transform: uppercase;
    letter-spacing: .125em;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-height: 400px;
    text-align: center;

    // border: 1px solid #ccc;
}

.column-projectTitle {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .02em;
}

.column-infoText {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    line-height: 1.8em;
    max-width: 300px;
}

.column-link {
    font-size: 15px;
}

.column-previewImage {
    max-width: 300px;
}

.video {
    // max-width: 800px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw auto;

    > * + * {
        margin-left: 30px;
    }
}

.about,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

    @media (min-width: 800px) {
        height: calc(100vh - 20vw);
    }
}