@import '_colors.scss';
@import '_polar.scss';
@import '_intro.scss';
@import '_browser.scss';
@import '_spinnup.scss';
@import 'node_modules/normalize-scss/sass/normalize/import-now';

@font-face {
    font-family: 'CarreNoir';
    src: url('/fonts/CarreNoirStd-Medium.otf') format('opentype'),
        url('/fonts/CarreNoirStd-Bold.otf') format('opentype'),
        url('/fonts/CarreNoirStd-Light.otf') format('opentype'),
        url('/fonts/CarreNoirStd-Demi.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova-Regular.otf') format('opentype'),
        url('/fonts/ProximaNova-Semibold.otf') format('opentype'),
        url('/fonts/ProximaNova-Bold.otf') format('opentype'),
        url('/fonts/ProximaNova-Black.otf') format('opentype');
}

html, body {
    height: 100%;
}

body {
    font-family: 'Proxima Nova', 'Open Sans', Helvetica, sans-serif;
    color: $color-black;
    letter-spacing: .022em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $black;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

p {

}

h3 {
    margin: 0;
    font-size: 32px;
}

.home {
    font-family: 'CarreNoir', serif;
}

.wrapper {
    max-width: 75%;
    margin: 8vw auto;

    &--project {
        max-width: 85%;
    }
}

.header {
    padding: 0 1rem;
}

.button,
button {
    background-color: $color-teal;
    color: white;
    padding: 16px 22px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: .015em;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1200px;
    z-index: 5;

    &--polar {
        background: $polar-blue;

        .menu-link {
            color: white;
        }
    }
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline;
    padding: 2px;

    & + & {
        margin-left: 30px;
    }

    .polar & {
        &:hover {
            box-shadow: inset 0 -1px 0 0 white;
        }
    }

    &--about:hover ~ hr {
        margin-left: 128px;
    }
}

.menu-underline {
    height: 3px;
    width: 58px;
    margin-top: 0;
    margin-left: 11px;
    background: $color-black;
    border: none;
    transition: margin-left 325ms ease-in-out;
    border-radius: 2px;
}

.menu-link{
    display: inline-block;
    text-align: center;
    padding: 15px 15px 8px;

    font-size: 22px;
    font-weight: 500;
    letter-spacing: .02em;

    @media (min-width: 1400px) {
        font-size: 28px;
    }
}

.bio-text {
    margin-top: 110px;
    max-width: 600px;
    font-size: 32px;
    line-height: 1.375;

    &--polar {
        color: white;
    }

    @media (min-width: 1400px) {
        max-width: 920px;
        font-size: 48px;
    }
}

.about-text {
    max-width: 600px;
    font-size: 32px;
    line-height: 1.375;

    &--polar {
        color: white;
    }

    @media (min-width: 1400px) {
        max-width: 920px;
        font-size: 48px;
    }
}

.about-paragraph {
    font-size: 28px;
}

.about-link {
    font-weight: 700;

    &:hover {
        text-decoration: underline;
    }
}

.project {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
        margin-top: 160px;
    }

    &--gg {
        background-color: $gg-green;
    }

    &--spinnup {
        background-color: $spinnup-yellow;
    }

    &--polar {
        background-color: $polar-blueLight;
    }

    & + & {
        margin-top: 80px;
    }
}

.project-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.project-logo {
    width: 260px;

    &--polar {
        width: 230px;
    }
}

.project-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .02em;
}

.project-description {
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    line-height: 1.8em;
}

.column {
    width: 400px;

    & + & {
        margin-left: 60px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw auto;

    > * + * {
        margin-left: 30px;
    }
}
