@import '_mediaqueries.scss';
@import '_colors.scss';
@import '_typography.scss';
@import '_intro.scss';
@import '_browser.scss';
@import '_polar.scss';
@import '_spinnup.scss';
@import 'node_modules/normalize-scss/sass/normalize/import-now';

html, body {
    height: 100%;
}

body {
    height: 100%;
    font-family: $serif;
    color: $color-black;
    letter-spacing: .022em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $black;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

h4, h3, h2 {
    font-family: $sans-serif;
    margin: 0;
}

h2 {
    font-size: 28px;

    @media (min-width: $m) {
        font-size: 42px;
    }

    @media (min-width: $l) {
        font-size: 54px;
    }
}

h3 {
    font-size: 24px;

    @media (min-width: $m) {
        font-size: 32px;

        + p {
            margin-top: 10px;
        }
    }

    @media (min-width: $l) {
        font-size: 38px;

        + p {
            margin-top: 16px;
        }
    }
}

h4 {
    font-size: 18px;

    @media (min-width: $m) {
        font-size: 22px;

        + p {
            margin-top: 8px;
        }
    }

    @media (min-width: $l) {
        font-size: 28px;

        + p {
            margin-top: 14px;
        }
    }
}

ol {
    margin-top: 60px;
    font-size: 22px;

    li {
        margin-top: 6px;
    }
}

blockquote {
    font-size: 20px;
    text-align: center;
    margin: 40px 18px;

    &.big {
        font-size: 24px;
    }

    @media (min-width: $s) {
        font-size: 30px;
        margin: 80px 40px;

        &.big {
            font-size: 42px;
        }
    }

    @media (min-width: $l) {
        margin: 80px 40px;
        font-size: 42px;
        line-height: 1.5;

        &.big {
            font-size: 58px;
        }
    }

    &:before {
        font-family: $sans-serif;
        content: open-quote;
        position: relative;
        display: inline;
        line-height: 0;
        left: -6px;
        top: 30px;
        color: $gg-greenLight;
        font-size: 3em;
    }

    &:after {
        content: close-quote;
        font-family: $sans-serif;
        position: relative;
        display: inline;
        line-height: 0;
        left: 2px;
        top: 30px;
        color: $gg-greenLight;
        font-size: 3em;
    }
}

.wrapper {
    max-width: 320px;
    margin: 0 auto;
    padding: 40px 20px;

    @media (min-width: $s) {
        max-width: 72%;
        margin: 50px auto 0;
        padding: 0;
    }

    @media (min-width: $m) {
        max-width: 920px;
    }

    @media (min-width: $l) {
        margin-top: 120px;
        max-width: 1200px;
    }
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (min-width: $s) {
        justify-content: flex-end;
    }
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;

    & + & {
        margin-left: 25px;
    }

    .about-page & ~ .menu-underline {
        margin-left: 115px;

        @media (min-width: $s) {
            margin-left: 124px;
        }

        @media (min-width: $m) {
            margin-left: 126px;
        }

        @media (min-width: $l) {
            margin-left: 132px;
        }
    }
}

.menu-underline {
    height: 3px;
    width: 50px;
    margin-top: 0;
    margin-left: 11px;
    background: $color-black;
    border: none;
    transition: margin-left 500ms ease-out;
    border-radius: 2px;

    @media (min-width: $m) {
        width: 57px;
    }

    @media (min-width: $l) {
        width: 67px;
    }
}

.menu-link{
    display: inline-block;
    text-align: center;
    padding: 15px 15px 8px;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: .02em;

    @media (min-width: $s) {
        font-size: 24px;
    }

    @media (min-width: $l) {
        font-size: 28px;
    }
}

.bio {
    margin-top: 60px;
    font-size: 16px;
    text-align: center;

    @media (min-width: $xs) {
        font-size: 20px;
    }

    @media (min-width: $s) {
        margin-top: 90px;
        font-size: 30px;
        text-align: left;
    }

    @media (min-width: $m) {
        font-size: 32px;
    }

    @media (min-width: $l) {
        font-size: 42px;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;

    @media (min-width: $s) {
        flex-direction: row;
        align-items: center;
        width: 670px;
        margin-top: 30px;
    }

    @media (min-width: $l) {
        width: 920px;
        margin-top: 80px;
    }
}

.about-img {
    margin-bottom: 40px;

    @media (min-width: $s) {
        min-width: 254px;
        margin-right: 40px;
        margin-bottom: 0;
    }

    @media (min-width: $l) {
        min-width: 366px;
    }
}

.about-text {
    font-size: 18px;

    @media (min-width: $s) {
        font-size: 21px;
    }

    @media (min-width: $l) {
        font-size: 30px;
    }
}

.about-paragraph {
    margin: 0;

    & + & {
        margin-top: 1em;
    }
}

.project {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0;

    &--gg {
        background-color: #bcf5e4;
    }

    &--spinnup {
        background-color: $spinnup-yellow;
    }

    &--polar {
        background-color: #2a587d;
    }

    @media (min-width: $s) {
        height: 320px;
        margin-top: 80px;
    }

    @media (min-width: $m) {
        height: 400px;
        margin-top: 120px
    }

    @media (min-width: $l) {
        height: 500px;
        margin-top: 160px;
    }
}

.project-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.project-logo {
    width: 200px;

    &--polar {
        width: 160px;
    }

    &--gg {
        width: 180px;
    }

    @media (min-width: $s) {
        width: 300px;

        &--polar {
            width: 220px;
        }
    }

    @media (min-width: $m) {
        width: 360px;

        &--polar {
            width: 280px;
        }
    }

    @media (min-width: $l) {
        width: 450px;

        &--polar {
            width: 380px;
        }

        &--gg {
            width: 340px;
        }
    }
}

.section {
    margin: 40px auto 0;
    padding: 0 30px;

    &--vuiQuote {
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-grey;
    }

    @media (min-width: $s) {
        max-width: 680px;
        margin-top: 60px;
        padding: 0;

        &:first-of-type {
            margin-top: 200px;
        }

        &--vuiQuote {
            max-width: none;
            padding: 300px 0;

            &:first-of-type {
                margin-top: 0;
            }
        }

        &--marginTop {
            margin-top: 300px;
        }
    }

    @media (min-width: $m) {
        &--vuiQuote {
            max-width: none;
            padding: 230px 0;

            &:first-of-type {
                margin-top: 0;
            }
        }

        &--marginTop {
            margin-top: 230px;
        }
    }

    @media (min-width: $l) {
        max-width: 820px;
        margin-top: 80px;

        &:first-of-type {
            margin-top: 300px;
        }

        &--vuiQuote {
            max-width: none;
            padding: 400px 0;

            &:first-of-type {
                margin-top: 0;
            }
        }

        &--marginTop {
            margin-top: 400px;
        }
    }
}

.row {
    margin-top: 80px;
    padding: 0 30px;

    &--text {
        max-width: 900px;
        margin: 0 auto;
    }

    &--noPadding {
        padding: 0;
    }

    @media (min-width: $s) {
        margin-top: 120px;
        padding: 0;

        .polar & {
            margin-top: 180px;
        }
    }

    @media (min-width: $m) {
        &--text {
            max-width: 700px;
        }
    }

    @media (min-width: $l) {
        margin-top: 300px;

        .polar & {
            margin-top: 300px;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.columns {
    @media (min-width: $s) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.column {
    & + & {
        margin-top: 80px;
    }

    @media (min-width: $s) {
        width: 520px;

        & + & {
            margin-top: 0;
            margin-left: 30px;
        }
    }

    @media (min-width: $l) {
        width: 680px;

        & + & {
            margin-top: 0;
            margin-left: 60px;
        }
    }
}

.text {
    font-size: 18px;
    color: #405453;

    @media (min-width: $m) {
        font-size: 22px;

        &--item {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 12px;
            font-size: 24px;
        }
    }

    @media (min-width: $l) {
        font-size: 28px;

        &--item {
            max-width: 560px;
            padding-top: 14px;
            font-size: 30px;
        }
    }
}

.link {
    text-decoration: underline;

    &--secret {
        text-decoration: none;
    }

    &--spinnup {
        color: $spinnup-pink;
    }

    &--polar {
        color: $polar-blueDark;
    }

    &--vui {
        color: $gg-greenDark;
    }
}

.bullet {
    margin-top: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0;
    padding-bottom: 60px;

    .about-page & {
        margin: 40px auto 80px;
    }

    @media (min-width: $s) {
        margin: 80px auto 0;
        padding-bottom: 80px;

        .about-page & {
            margin: 50px auto;
        }
    }

    @media (min-width: $m) {
        margin: 110px auto 0;
    }

    @media (min-width: $l) {
        margin: 110px auto 0;

        .about-page & {
            margin: 100px auto;
        }
    }
}

.footer-project {
    margin-top: 120px;

    > * + * {
        margin-left: 15px;
    }

    @media (min-width: $m) {
        > * + * {
            margin-left: 320px;
        }
    }

    @media (min-width: $l) {
        margin: 260px 0 200px;
    }
}

.footer-img {
    max-width: 40px;

    @media (min-width: $s) {
        max-width: 48px;
    }

    @media (min-width: $l) {
        max-width: 64px;
    }

    &:hover {
        opacity: .9;
    }
}

.footer-link {
    & + & {
        margin-left: 30px;
    }

    @media (min-width: $m) {
        & + & {
            margin-left: 30px;
        }
    }
}

.arrowLink {
    display: flex;
    align-items: center;
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: 600;

    @media (min-width: $m) {
        font-size: 18px;
    }

    @media (min-width: $l) {
        font-size: 24px;
    }
}

.arrowLink-arrow {
    font-size: 22px;
    padding: 0 10px 0 0;

    @media (min-width: $m) {
        font-size: 24px;
        padding: 0 12px 2px;
    }

    @media (min-width: $l) {
        font-size: 28px;
        padding: 0 15px;
    }
}

.fadeOut {
    animation: fadeOut 350ms ease-out forwards;
}

.slideLeft {
    animation: slideLeft 500ms ease-out;
    animation-iteration-count: 1;
}

.slideRight {
    animation: slideRight 500ms ease-out;
    animation-iteration-count: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
